<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Item-Catalog</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;subset=latin-ext">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <h1 class="title">Restaurant Name</h1>
        <hr>
        <p>New Menu Item</p>
    </header>
    <div class="login-dark container">
        <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="post">
            <div class="form-group"><label for="name">Name</label><input class="form-control" type="email" name="name"></div>
            <div class="form-group"><label for="description">Description</label><input class="form-control" type="password" name="description"></div>
            <div class="form-group"><label for="course">Course</label><input class="form-control" type="email" name="course"></div>
            <div class="form-group"><label for="price">Price</label><input class="form-control" type="email" name="price"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Create</button></div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

{% extends "layout.html" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='Features-Boxed.css') }}">
{% endblock %}
{% block restaurant_title %}{{restaurant.name}}{% endblock %}
{% block header_content %}
    <p>New Menu Item</p>
{% endblock %}

{% block content %}
<div class="login-dark container">
        <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method="post">
            <div class="form-group"><label for="name">Name</label><input class="form-control" type="email" name="name"></div>
            <div class="form-group"><label for="description">Description</label><input class="form-control" type="password" name="description"></div>
            <div class="form-group"><label for="course">Course</label><input class="form-control" type="email" name="course"></div>
            <div class="form-group"><label for="price">Price</label><input class="form-control" type="email" name="price"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Create</button></div>
        </form>
    </div>
{% endblock %}
