{% extends "layout.html" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block restaurant_title %}{{restaurant.name}}{% endblock %}
{% block header_content %}
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div>
    {% for message in messages %}
    <p>- {{message}} </p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="features-boxed">
    <div class="container">
        <div class="intro container">
            <h2 class="text-center"></h2>
        </div>
        <div class="row justify-content-end features">
            {% for i in items %}
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <h3 class="name">{{i.name}}</h3>
                    <p class="description">{{i.description}}</p>
                    <h4 class="price">{{i.price}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>
{% endblock %}
